<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>JS Drum Kit</title>
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
  
</head>
<body>
  
  <div class="all-keys">
    <div class="keys">
      <div data-key="81" class="key"> 
        <kbd>Q</kbd>
        <span class="sound">G#</span>
      </div>
      <div data-key="87" class="key">
        <kbd>W</kbd>
        <span class="sound">A#</span>
      </div>
      <div data-key="69" class="key">
        <kbd>E</kbd>
        <span class="sound">B</span>
      </div>
      <div data-key="82" class="key">
        <kbd>R</kbd>
        <span class="sound">C#</span>
      </div>
      <div data-key="84" class="key">
        <kbd>T</kbd>
        <span class="sound">D# (i)</span>
      </div>
      <div data-key="89" class="key">
        <kbd>Y</kbd>
        <span class="sound">F</span>
      </div>
      <div data-key="85" class="key">
        <kbd>U</kbd>
        <span class="sound">F#</span>
      </div>
      <div data-key="73" class="key">
        <kbd>I</kbd>
        <span class="sound">G#</span>
      </div>
    </div>
      
    
    <div class="keys">
      <div data-key="65" class="key"> 
        <kbd>A</kbd>
        <span class="sound">Vox 1</span>
      </div>
      <div data-key="83" class="key">
        <kbd>S</kbd>
        <span class="sound">Vox 2</span>
      </div>
      <div data-key="68" class="key">
        <kbd>D</kbd>
        <span class="sound">Vox 3</span>
      </div>
      <div data-key="70" class="key">
        <kbd>F</kbd>
        <span class="sound">Vox 4</span>
      </div>
      <div data-key="71" class="key">
        <kbd>G</kbd>
        <span class="sound">Bmaj(VI)</span>
      </div>
      <div data-key="72" class="key">
        <kbd>H</kbd>
        <span class="sound">C#maj(VII)</span>
      </div>
      <div data-key="74" class="key">
        <kbd>J</kbd>
        <span class="sound">D#m(i)</span>
      </div>
      <div data-key="75" class="key">
        <kbd>K</kbd>
        <span class="sound">Bbm(v)</span>
      </div>
    </div>
      
      
      <div class="keys">
        <div data-key="90" class="key"> 
          <kbd>Z</kbd>
          <span class="sound">Intro Drums</span>
        </div>
        <div data-key="88" class="key">
          <kbd>X</kbd>
          <span class="sound">Verse Drums</span>
        </div>
        <div data-key="67" class="key">
          <kbd>C</kbd>
          <span class="sound">Build Drums</span>
        </div>
        <div data-key="86" class="key">
          <kbd>V</kbd>
          <span class="sound">Drop Drums</span>
        </div>
        <div data-key="66" class="key">
          <kbd>B</kbd>
          <span class="sound">Bmajor(VI)</span>
        </div>
        <div data-key="78" class="key">
          <kbd>N</kbd>
          <span class="sound">C#major(VII)</span>
        </div>
        <div data-key="77" class="key">
          <kbd>M</kbd>
          <span class="sound">D#m(i)</span>
        </div>
        <div data-key="188" class="key">
          <kbd><</kbd>
          <span class="sound">Bbm(v)</span>
        </div>
      </div>   
  </div>
  
  <audio data-key="81" src="sounds/melody/MelodyLowGSharp(iv).ogg"></audio>
  <audio data-key="87" src="sounds/melody/MelodyAsharp(v).ogg"></audio>
  <audio data-key="69" src="sounds/melody/MelodyB(vi).ogg"></audio>
  <audio data-key="82" src="sounds/melody/MelodyCsharp(vii).ogg"></audio>
  <audio data-key="84" src="sounds/melody/MelodyDsharp(i).ogg"></audio>
  <audio data-key="89" src="sounds/melody/MelodyF(ii).ogg"></audio>
  <audio data-key="85" src="sounds/melody/MelodyFSharp(iii).ogg"></audio>
  <audio data-key="73" src="sounds/melody/MelodyGsharpHi(iv).ogg"></audio>
  

  <audio data-key="65" src="sounds/voxChops/VoxChop1.ogg"></audio>
  <audio data-key="83" src="sounds/voxChops/VoxChop2.ogg"></audio>
  <audio data-key="68" src="sounds/voxChops/VoxChop4.ogg"></audio>
  <audio data-key="70" src="sounds/voxChops/VoxChop3.ogg"></audio>
  <audio data-key="71" src="sounds/chillChords/ChillChords1_Bmaj(VI).ogg"></audio>
  <audio data-key="72" src="sounds/chillChords/ChillChords2_CsharpMaj(VII).ogg"></audio>
  <audio data-key="74" src="sounds/chillChords/ChillChords3_DsharpMin(i).ogg"></audio>
  <audio data-key="75" src="sounds/chillChords/ChillChords4_Bbm(v).ogg"></audio>
  
  <audio data-key="90" src="sounds/drums/Drums1_Tambo.ogg"></audio>
  <audio data-key="88" src="sounds/drums/Drums2_Verse.ogg"></audio>
  <audio data-key="67" src="sounds/drums/Drums3_BuildUp.ogg"></audio>
  <audio data-key="86" src="sounds/drums/Drums4_Drop.ogg"></audio>
  <audio data-key="66" src="sounds/dropChords/ChordsBass1_Bmaj(VI).ogg"></audio>
  <audio data-key="78" src="sounds/dropChords/ChordsBass2_CSharpmaj(VII).ogg"></audio> 
  <audio data-key="77" src="sounds/dropChords/ChordsBass3_DSharpm(i).ogg"></audio>
  <audio data-key="188" src="sounds/dropChords/ChordsBass4_Bbm(iv).ogg"></audio>

  <script type="text/javascript" src="/javascripts/playSound.js"></script>
</body>
</html>